.ex2 img{
height: 100px;
width: 300px;
margin: 15px 0;
-webkit-transition: all 1s ease;
-moz-transition: all 1s ease;
-ms-transition: all 1s ease;
transition: all 1s ease;
8DC0FF
}
.ex2 img:hover {
height: 133px;
width: 400px;
margin-left: -50px;
}
.contenido:hover .imagene {
	-webkit-transform:scale(1.5);
	transform:scale(1.1);
}
.contenido {
	overflow:hidden;
}
#exTer{
	font-family: 'Leckerli One', cursive;
}
#exTerD{
	font-family: 'Mrs Saint Delafield', cursive;
	
}
#tr{
	border-radius:50%;
-webkit-border-radius:50%;
box-shadow: 0px 0px 15px 15px #ec731e;
-webkit-box-shadow: 0px 0px 15px 15px #ec731e;
transform: rotate(360deg);
-webkit-transform: rotate(360deg);
}
.sombra{
    text-shadow: -8px -8px 8px #000,
    8px 8px 8px #000,
    -8px 8px 8px #000, 
    8px -8px 8px #000;
}
.sombraReg{
    text-shadow: -8px -8px 8px #FFFFFF,
    8px 8px 8px #FFF,
    -8px 8px 8px #FFF, 
    8px -8px 8px #FFF;
}
.tam{
	font-size: 90px;
	margin-bottom: 210px;
}
.bordesBtn{
	border-radius: 25px;
	border-width: 4px;
}
.img-fluida{
	width: 100%;
	height: 595px;
}
.bg-registro{
	background-color: #3279D1;
	margin-top: 0px;
}
.bg-registro-text{
	font-size: 60px;
	color: #C00000;
}
/*paquetes*/
.margen-paquetes{
	margin-top: 140px;
}
.img-paquete-jaltepeque{
	background-image: url("../img/imgPaquetes/jaltepeque.jpg");
	background-repeat: no-repeat;
	background-size: 437px 500px;
	width: 100%;
	height: 500px;
}
.img-paquete-jaltepeque-inf{
	background-color: #033F0F;
	height: 500px;
}
.img-paquete-icacal{
	background-image: url("../img/imgPaquetes/playa_icacal.jpg");
	background-repeat: no-repeat;
	background-size: 437px 500px;
	width: 100%;
	height: 500px;
}
.img-paquete-icacal-inf{
	background-color: #A54709;
	opacity: 2;
	height: 500px;
}
.img-paquete-perquin{
	background-image: url("../img/imgPaquetes/perquin.jpg");
	background-repeat: no-repeat;
	background-size: 437px 500px;
	width: 100%;
	height: 500px;
}
.img-paquete-perquin-inf{
	background-color: #839218;
	height: 500px;
}
.reservar-p1{
	margin-top: 20px;
	background-color: #E2FFE6;
	border-color:#E2FFE6 ;
	color:#033F0F ;
}
.reservar-p1:hover{
	background-color: #033F0F;
	color:#E2FFE6;
}
.reservar-p2{
	margin-top: 70px;
	background-color: #E2FFE6;
	border-color:#E2FFE6 ;
	color:#A54709 ;
}
.reservar-p2:hover{
	background-color: #A54709;
	color:#E2FFE6;
}
.reservar-p3{
	margin-top: 50px;
	background-color: #E2FFE6;
	border-color:#E2FFE6 ;
	color:#839218 ;
}
.reservar-p3:hover{
	background-color: #839218;
	color:#E2FFE6;
}
.columna-reserva{
	background-color: #9F6E04;
	height: 75px;
	text-align: center;
	padding-top: 10px;
	font-size: 32px;
}
.footer{
	color: #BBBBBB;
	height: 200px;
	text-align: center;
	padding-top: 57px;
	margin-top: 140px;
	font-size: 18px;
}
.footer-index{
	color: #BBBBBB;
	height: 200px;
	margin-top: 490px;
	text-align: center;
	padding-top: 57px;
	font-size: 18px;
}
#map {
    height: 400px;
      }
/* CONOCENOS */
.img-index{
	background-image: url("../img/portada/playa_index.jpg");
	background-repeat: no-repeat;
	background-size: 1311px 500px;
	width: 100%;
	height: 500px;
}
.btn-mapa-flotante {
        display:block;
        width:70px;
        height:70px;
        color#fff;
        position: fixed;
        right:20px;
        bottom:20px;
        border-radius:50%;
        line-height:80px;
        text-align:center;
        z-index:999;
}
@media screen and (max-width: 575px) {
	.ocultar-div{
		display:none;
	}
	.espacio-div-vamonos{
		margin-top: 45px;
	}
	.bg-registro-text-sm{
		font-size: 40px;
		color: #C00000;
	}
	.bg-registro-text-xs{
		background-color: #3279D1;
		height: 20px;
		margin-top:40px;
		padding-top: 0px;
	}
	.bg-registro-xs{
		background-color: #3279D1;
		height: 55px;
		margin-top:0px;
		padding-top: 0px;
	}
	.img-paquete-xs{
		background-size: 560px 500px;
	}
	.reservar-p2{
		margin-top: 65px;
		background-color: #E2FFE6;
		border-color:#E2FFE6 ;
		color:#A54709 ;
	}
	.columna-reserva{
		background-color: #9F6E04;
		height: 75px;
		text-align: center;
		padding-top: 17px;
		margin-top: 65px;
		font-size: 25px;
	}
	.video-index{
		width: 100%;
	}
	.btn-mapa-flotante{
		display:none;
	}
}
@media screen and (min-width: 576px) and (max-width: 767px) {
	.ocultar-div{
		display:none;
	}
	.espacio-div-vamonos{
		margin-top: 45px;
	}
	.bg-registro-text-sm{
		font-size: 40px;
		color: #C00000;
	}
	.bg-registro-sm{
		background-color: #3279D1;
		height: 70px;
		margin-top:66px;
		padding-top: 13px;
	}
	.bg-registro-sm-un{
		background-color: #3279D1;
		height: 60px;
		margin-top: 40px;
	}
	.img-paquete-sm{
		background-size: 560px 500px;
	}
	.columna-reserva{
		background-color: #9F6E04;
		height: 75px;
		text-align: center;
		padding-top: 13px;
		margin-top: 65px;
		font-size: 30px;
	}
}
@media screen and (min-width: 768px) and (max-width: 991px) {
	.tam-letra-md{
		font-size: 80px;
		margin-bottom: 175px;
	}
	.img-fluida-md{
		width: 100%;
		height: 535px;
	}
	.bg-registro-md{
		background-color: #3279D1;
		height: 80px;
		margin-top:0px;
		padding-top: 20px;
	}
	.bg-registro-md-un{
		background-color: red;
		height: 80px;
		margin-top: 0px;
		padding-top: 20px;
	}
	.reservar-p1{
		margin-top: 0px;
		background-color: #E2FFE6;
		border-color:#E2FFE6 ;
		color:#033F0F ;
	}
	.reservar-p2{
		margin-top: 70px;
		background-color: #E2FFE6;
		border-color:#E2FFE6 ;
		color:#A54709 ;
	}
	.reservar-p3{
		margin-top: 0px;
		background-color: #E2FFE6;
		border-color:#E2FFE6 ;
		color:#839218 ;
	}
}
@media screen and (min-width: 992px) and (max-width: 1199px) {
	.tam-letra-lg{
		font-size: 90px;
		margin-bottom: 160px;
	}
	.img-fluida-lg{
		width: 100%;
		height: 535px;
	}
	.reservar-p1{
		margin-top: 0px;
		background-color: #E2FFE6;
		border-color:#E2FFE6 ;
		color:#033F0F ;
	}
	.reservar-p2{
		margin-top: 70px;
		background-color: #E2FFE6;
		border-color:#E2FFE6 ;
		color:#A54709 ;
	}
}
/*Efecto de galeria*/
div.efecto {
  font-family: 'Raleway', Arial, sans-serif;
  position: relative;
  overflow: hidden;
  margin: 10px;
  min-width: 460px;
  max-width: 630px;
  width: 100%;
  color: #ffffff;
  text-align: center;
  font-size: 16px;
  background-color: #000000;
}
div.efecto *,
div.efecto *:before,
div.efecto *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.55s ease;
  transition: all 0.55s ease;
}
div.efecto img {
  max-width: 100%;
  backface-visibility: hidden;
  vertical-align: top;
  opacity: 0.9;
}
div.efecto .title {
  position: absolute;
  top: 58%;
  left: 25px;
  padding: 5px 10px 10px;
}
div.efecto .title:before,
div.efecto .title:after {
  height: 2px;
  width: 600px;
  position: absolute;
  content: '';
  background-color: #ffffff;
}
div.efecto .title:before {
  top: 0;
  left: 10px;
  -webkit-transform: translateX(100%);
  transform: translateX(100%);
}
div.efecto .title:after {
  bottom: 0;
  right: 10px;
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);
}
div.efecto .title div:before,
div.efecto .title div:after {
  width: 2px;
  height: 300px;
  position: absolute;
  content: '';
  background-color: #ffffff;
}
div.efecto .title div:before {
  top: 10px;
  right: 0;
  -webkit-transform: translateY(100%);
  transform: translateY(100%);
}
div.efecto .title div:after {
  bottom: 10px;
  left: 0;
  -webkit-transform: translateY(-100%);
  transform: translateY(-100%);
}
div.efecto h2,
div.efecto h4 {
  margin: 0;
}
div.efecto h2 {
  font-weight: 200;
}
div.efecto h4 {
  display: block;
  font-weight: 700;
  background-color: #ffffff;
  padding: 5px 10px;
  color: #000000;
}
div.efecto figcaption {
  position: absolute;
  bottom: 42%;
  left: 25px;
  text-align: left;
  opacity: 0;
  padding: 5px 60px 5px 10px;
  font-size: 0.8em;
  font-weight: 500;
  letter-spacing: 1.5px;
}
div.efecto figcaption p {
  margin: 0;
}
div.efecto a {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
div.efecto:hover img,
div.efecto.hover img {
  zoom: 1;
  filter: alpha(opacity=35);
  -webkit-opacity: 0.35;
  opacity: 0.35;
}
div.efecto:hover .title:before,
div.efecto.hover .title:before,
div.efecto:hover .title:after,
div.efecto.hover .title:after,
div.efecto:hover .title div:before,
div.efecto.hover .title div:before,
div.efecto:hover .title div:after,
div.efecto.hover .title div:after {
  -webkit-transform: translate(0, 0);
  transform: translate(0, 0);
}
div.efecto:hover .title:before,
div.efecto.hover .title:before,
div.efecto:hover .title:after,
div.efecto.hover .title:after {
  -webkit-transition-delay: 0.15s;
  transition-delay: 0.15s;
}
div.efecto:hover figcaption,
div.efecto.hover figcaption {
  opacity: 1;
  -webkit-transition-delay: 0.2s;
  transition-delay: 0.2s;
}